* {
    box-sizing: border-box;
    background: var(--bg);
    /* background-color: chocolate; */
}

:root {
    --base: #fbff0059;
    --spacing: 5px;
    --blur: 5px;
    --bg: #00BFFF;
}

h1 {
    text-align: center;
    font-family: 'Chonburi', sans-serif;
    margin-top: 10%;
    font-size: 40px;
}

h5 {
    font-family: 'Chonburi', sans-serif;
    font-size: 20px;
}

.search {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    width: 40%;
    height: 40px;
    text-align: center;
    font-family: 'Chonburi', sans-serif;
    font-size: 25px;
}

input:focus {
    outline: none;
}

.gallery {
    margin-top: 30px;
    text-align: center;
    background-color: transparent;
}

.gallery img {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: black;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}